/Switching_Comp_TB_isim_beh.exe
/Switching_Comp_TB_isim_beh.wdb
/isim.cmd
/isim.log
/isim/Switching_Comp_TB_isim_beh.exe.sim/Switching_Comp_TB_isim_beh.exe
/isim/Switching_Comp_TB_isim_beh.exe.sim/isimcrash.log
/isim/Switching_Comp_TB_isim_beh.exe.sim/isimkernel.log
/isim/Switching_Comp_TB_isim_beh.exe.sim/libPortability.dll
/isim/Switching_Comp_TB_isim_beh.exe.sim/netId.dat
/iseconfig
/_xmsgs
