/Switching_Comp_TB_isim_beh.exe
/Switching_Comp_TB_isim_beh.wdb
/isim.cmd
/isim.log
/isim/Switching_Comp_TB_isim_beh.exe.sim/Switching_Comp_TB_isim_beh.exe
/isim/Switching_Comp_TB_isim_beh.exe.sim/isimcrash.log
/isim/Switching_Comp_TB_isim_beh.exe.sim/isimkernel.log
/isim/Switching_Comp_TB_isim_beh.exe.sim/libPortability.dll
/isim/Switching_Comp_TB_isim_beh.exe.sim/netId.dat
/iseconfig
/_xmsgs
/Switching_Package.prj~HEAD
/TopLevel_summary.html
/SampleInputs_isim_beh.exe
/SampleInputs_isim_beh.wdb
/SampleInputs_stx_beh.prj
/TopLevel_TB_beh.prj
/TopLevel_TB_isim_beh1.wdb
/TopLevel_beh.prj
/TopLevel_isim_beh.exe
/TopLevel_isim_beh.wdb
/TopLevel_isim_beh1.wdb
